<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="styles/diseñoContacto.css" rel="stylesheet" type="text/css">
    <title>Document</title>
    
</head>
<footer class="Footer">
    <div>
        <div class="Titulo">
        <p>Contacto</p>
    </div>
    <div class="conteinerInfo">
        <div class="containerMessage">
            <div class="Message">
                <p>En la casa del mundial nos debemos a ustedes, los fanaticos, es por ello que habilitamos esta sección de contacto para que nos dejes tus comentarios.</p>
            </div>
        </div>
        <div class="containerForm">
            <div class="containerFields">
                <form>
                    <label for="fname">Nombre</label><br>
                    <input type="text" id="fname" name="fname" value="Nombre"><br>
                    <label for="lname">Correo</label><br>
                    <input type="text" id="lname" name="lname" value="Correo"><br><br>
                    <input type="submit" value="ENVIAR MENSAJE">
                  </form> 
            </div>
        </div>
        </div>
    </div>
</footer>
</html>