<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles/selections.css" />
    <title>Selecciones</title>
  </head>
  <body>
    <section>
      <h1 class="selections-center">Selecciones</h1>
      <article class="card__container">
        <div class="card">
          <div class="presentation">
            <img src="../assets/alemania.jpeg" width="200" />
            <h2 class="selections-center selections__subtitle">ALEMANIA</h2>
          </div>
          <div class="presentation description">
            <p>
              Es el segundo equipo con más certámenes disputados únicamente
              detrás de Brasil, ha estado presente en 19 ediciones. Cuenta con
              la marca del campeón mundial que más goles ha marcado en un torneo
              cuando en 1954 se coronó con la cifra de 25.
            </p>
          </div>
        </div>
      </article>
    </section>
  </body>
</html>
