body{
    margin: 0;
}

header{
    display: flex;
    height: 60px;
    background-color: rgb(9, 15, 66);
    justify-content: space-between;
}

.logo{
    display: flex;
}

.logo{
    height: 40px;
    margin-left: 30px;
    margin-top: 10px;
}