.selections-center {
  text-align: center;
}

.selections__subtitle {
  border: 1px solid black;
  border-radius: 6px;
  box-shadow: 4px 4px 30px -12px rgba(0,0,0,0.75);
  -webkit-box-shadow: 4px 4px 30px -12px rgba(0,0,0,0.75);
  -moz-box-shadow: 4px 4px 30px -12px rgba(0,0,0,0.75);
  box-shadow: 4px 4px 30px -12px rgba(0,0,0,0.75);
}

.card__container {
  width: 200px;
  position: relative;
  perspective: 1000px;
}

.card__container:hover .card {
    transform: rotateY(180deg);
}

.card {
  transform-style: preserve-3d;
  transition: all 0.8s linear;
}

.presentation {
  position: absolute;
  backface-visibility: hidden;
}

.presentation.description {
  transform: rotateY(180deg);
}
